<h1>SDKPOSAKD {{title}} SE PUEDE CONCATENARRR TEXTO</h1>

<h3>{{subtitle}}</h3>

<h2>{{sosoroso}}</h2>

<h3>jdnnñondhgjkghf <u>{{guantanamo}}</u> {{eeeee}} <em>estrogen</em></h3>

<p>Holacomahol</p>

<div class="container">
    <div class="row">
        <div class="col-8">Lista de Instrumentos</div>
        <div class="col-4">Carrito de Compras</div>
    </div>
    <div class="row">
        <div class="col-8"><corador-instrument-list></corador-instrument-list></div>
        <div class="col-4"></div>
    </div>
</div>